<app-header titulo="grid - rows"></app-header>

<ion-content padding fullscreen>

    <ion-grid fixed>
        
        <!--
        <ion-row>
            <ion-col *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
                {{ i + 1}}
            </ion-col>

        </ion-row>
-->

    <ion-row>
          <ion-col size-lg="3" size-md="4" size-sm="6" size-xm="12" *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]; let i = index">
              
              <ion-card>
                  <ion-img src="/assets/shapes.svg"></ion-img>
              <ion-card-header>
                  <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                  <ion-card-title>
                  Car Title</ion-card-title>
                  <ion-card-content>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 
                  </ion-card-content>
              </ion-card-header>    
              </ion-card>

          </ion-col>
      </ion-row>


    </ion-grid>



</ion-content>
