<app-header titulo="Segment"></app-header>

<ion-toolbar>

    <!-- Default Segment -->
    <ion-segment color="tertiary" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="todos">
            <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="DC Comics">
            <ion-label>DC Comics</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Marvel Comics">
            <ion-label>Mervel Comics</ion-label>
        </ion-segment-button>
    </ion-segment>


</ion-toolbar>
<ion-content>

    <ion-list>
        <ion-item *ngFor="let heroe of (superheroes | async) | filtro: publisher:'publisher'  " class="animated fadeIn fast ">
            <ion-label>
                <h3>{{ heroe.superhero }} <small>{{ heroe.alter_ego }}</small></h3>
                <p>
                    {{ heroe.first_appearance }}
                </p>
            </ion-label>
            <ion-label slot="end" text-right>
                <h5>
                    {{ heroe.publisher }}
                </h5>

            </ion-label>
        </ion-item>
    </ion-list>



</ion-content>